<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-peddsweb-20160218161359;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-peddsweb-20160218161359.mdf" /> -->
    <add name="peddsdbConnectionString" connectionString="Data Source=dotscoecdb01.co.dot.state.fl.us;Initial Catalog=peddsdb;Persist Security Info=True;User ID=pdbmanager;password=pdbmanager" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls></pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="FDOTHandler" preCondition="integratedMode" verb="*" path="*.fdot" type="PEDDS.DB2.Web.FDOTHandler, PEDDS.DB2.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <!-- District Name - Displayed at the Top of the Web Site -->
    <add key="district_name" value="ECSO - DOTSCOECDB01" />
    <!-- District's PEDDS DataBase Connection Information -->
    <add key="peddsdb2_connection" value="data source=dotscoecdb01.co.dot.state.fl.us;initial catalog=peddsdb;user id=pdbmanager;password=pdbmanager;persist security info=True;packet size=4096" />
    <!-- District's File Store Location - Accessed to Compress Project Files -->
    <!--<add key="file_store_path" value="\\dotscoecdb01.co.dot.state.fl.us\c$\pedds_db_fs\" />-->
    <!--<add key="file_store_path" value="\\codata\shares\CO\CADD\Users\Marlon\pedds_db_fs" />-->
    <add key="file_store_path" value="C:\pedds_db_fs\" />
    <!-- Package Zip File Download URL - Used in Package E-mail -->
    <add key="package_download_url" value="http://dotscoecdb01.co.dot.state.fl.us/packages/" />
    <!-- The Number of Days to Retain Package Zip Files on the Web Server -->
    <add key="package_download_days" value="7" />
    <!-- District's Web Server's E-mail Protocol -->
    <add key="SMTP" value="mail.co.dot.state.fl.us" />
    <!-- Support E-mail Address - Return E-mail Address on E-mail Correspondance -->
    <add key="support_email" value="andrew.fuller@dot.state.fl.us" />
    <!-- Enable Error Logging -->
    <add key="error_logging" value="true" />
    <!-- Enable Structures Policy Cookies -->
    <add key="enable_structures_policy_cookies" value="true" />
    <!-- Not currently used but found in code -->
    <add key="ftp_server" value="dotscoecdb01.co.dot.state.fl.us" />
  </appSettings>
</configuration>